:root {
    --primary: #052AA6;
    --secondary: #333333;
    --light: #EFFDF5;
    --dark: #0E2E50;
    --sombra: #0C4DBF;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-size: cover;
    margin: 0%;
    padding: 0;
    padding-top: 7px;
    
}

.back-to-top {
    position: relative;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    color: black; /* Cor do texto dos botões */
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Cor de fundo preto */
    padding: 10px 0;
    z-index: 9999;
    transition: background-color 0.3s; /* Transição suave de cor */
}

.nav-bar:hover {
    background-color: var(--primary); /* Cor de fundo #052AA6 quando passar o mouse */
}

.navbar-light .navbar-brand {
    height: 75px;
    color: black; /* Cor do texto da marca da navbar */
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #052AA6;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--light);
    font-weight: 500;
    color: black; /* Cor do texto dos links da navbar */
}

@media (max-width: 991.98px) {
    .nav-bar {
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        padding: 10px 15px;
    }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary);
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/*** Header ***/
.header {
    margin-top: 80px; /* Ajustando o espaçamento do conteúdo abaixo da barra de navegação */
    background-color: var(--primary);
    color: black; /* Cor do texto do cabeçalho */
    padding: 5rem;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.header p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.header .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

@media (max-width: 50%) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #DDDDDD;
}
